{% extends "layout.html" %}

{% block body %}

   
    
 <div class="words-container"> 
  <div class="words-title-div">
        <h1 class="mb-5">Your words</h1>
    </div>
    <div class="words-words-div d-flex flex-wrap">
    {% for word in words %}
        <div class="card-multiple card text-white bg-primary m-3" style="width: 13rem; max-width: 18rem;">
            <div class="card-header text-center">{{word.word.capitalize()}}</div>
            <div class="card-body">
              <p class="card-text text-center"><span>Translation:</span>  {{word.translation.capitalize()}}</p>
              <p class="card-text text-center"><span>Type:</span> {{word.part_of_speech.capitalize()}}</p>
              <p class="card-text text-center"><span>Phrase:</span>  {{word.sentence.capitalize()}}
              </p>
            </div>
            <form class="d-flex align-items-end justify-content-center mb-3" action="delete_word/{{word.id}}" method="DELETE">
                <button class=" btn btn-success">Delete</button>
            </form>
        </div>
    {% endfor %}
  </div>
    
 </div>
  <div class="container sentence-container"> 
    <div class="chosen_words mb-5" style="font-size: 1.5rem;"></div>
    <p>Write a sentence and then check to see if it contains all of the words you chose.</p>
    <textarea class="sentence" name="sentence" id="sentence" cols="60" rows="1"></textarea>
    <button class="mt-3 btn btn-success check_sentence">Check</button>
    <button class="mt-3 btn btn-danger clear_words_btn">Reset</button>
  </div>
  
{% endblock %}